{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <a class="perso-big-button" href="{{ path('create_exercice') }}">
        configure new exercice
    </a>
    <h1>
        to do today
    </h1>
    {% for exercice in exercices %}
        {% set last = exercice.getLastTime() %}
        {% set hCat = last.getHoursCategory() %}
        {% if exercice.isRun %}
            <div id="exercice-{{ exercice.name }}" class="perso-card perso-card-distance">
        {% else %}
            <div id="exercice-{{ exercice.name }}" class="perso-card perso-card-serie">
        {% endif %}
            <p class="perso-card-title">
                {{ exercice.name }}
            </p>
            {% if exercice.isRun %}
                <div class="row card-distance-center">
                    <div class="col-12 col-md-6 card-distance-infos">
                        <p class="perso-{{ hCat }} perso-goal">
                            score to aim : <span class="perso-number">{{ last.getNext() | round }}</span>
                        </p>
            {% else %}
                <p class="perso-{{ hCat }} perso-number">
                    {{ last.getNext() | round }}
                </p>
            {% endif %}
            <p class="perso-{{ hCat }} perso-card-time">
                last time : {{ last.getPassedHours() }} hours ago
            </p>
            <p class="perso-{{ hCat }} perso-card-sentence">
                {% if hCat == 'rest' %}
                    Too early... Take some time to rest !
                {% elseif hCat == 'ok' %}
                    Right now is the perfect time to do it !
                {% elseif hCat == 'limit' %}
                    It's a bit late, you sould do it now !
                {% else %}
                    It've been a while ! You should do it now, or you'll loose performance
                {% endif %}
            </p>
            {% if exercice.isRun %}
                    </div>
                    <div class="col-12 col-md-6 card-distance-test">
                        <p class="card-test-title">
                            test / compute
                        </p>
                        <form action="">
                            <div class="row card-test-seperate">
                                <div class="col-6 card-table-distance">
                                    distance (km) <br>
                                    <input type="text" onchange="kmOrMChange('{{ exercice.name }}')" class="test-distance">
                                </div>
                                <div class="col-6 card-table-ascending">
                                    ascending (m) <br>
                                    <input type="text" onchange="kmOrMChange('{{ exercice.name }}')" class="test-positive-elevation">
                                </div>
                            </div>
                        </form>
                        <p>
                            score resulting : 
                            <span class="card-test-result">0</span>
                        </p>
                    </div>
                </div>
            {% endif %}
            <div class="card-buttons">
                {% if hCat == 'rest' or exercice.break or exercice.stop %}
                    <button class="card-button card-button-disabled">
                        done
                    </button>
                {% else %}
                    <a class="card-button card-button-done" id="done-{{ exercice.name }}" href="{{ path('validate_serie', {'id' : exercice.id}) }}" onclick="clickOnDone(event, '{{ exercice.name }}')">
                        done
                    </a>
                {% endif %}
                {% if exercice.break or exercice.stop %}
                    <button class="card-button card-button-restart">
                        restart
                    </button>
                {% else %}
                    <button class="card-button card-button-break">
                        break
                    </button>
                    <button class="card-button card-button-stop">
                        stop
                    </button>
                {% endif %}
                <button class="card-button card-button-remove">
                    remove
                </button>
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block javascripts %}
    <script>
        // changing result showed
        function kmOrMChange(exerciceName)
        {
            km = document.querySelector("#exercice-" + exerciceName + " .test-distance").value;
            m = document.querySelector("#exercice-" + exerciceName + " .test-positive-elevation").value;
            scoreElt = document.querySelector("#exercice-" + exerciceName + " .card-test-result");
            goalElt = document.querySelector("#exercice-" + exerciceName + " .perso-number");

            if (km == '' || m == '')
            {
                scoreElt.innerHtml = 0;
            }
            else
            {
                newScore = parseInt(km) + 0.15 * parseInt(m);
                scoreElt.textContent = newScore.toString();
            }
        }

        // disabling "done" link if score too low
        function clickOnDone(event, exerciceName)
        {
            km = document.querySelector("#exercice-" + exerciceName + " .test-distance").value;
            m = document.querySelector("#exercice-" + exerciceName + " .test-positive-elevation").value;

            scoreElt = document.querySelector("#exercice-" + exerciceName + " .card-test-result");
            goalElt = document.querySelector("#exercice-" + exerciceName + " .perso-number");
            buttonDoneElt = document.querySelector("#exercice-" + exerciceName + " .card-button-done")

            score = parseInt(scoreElt.textContent)
            goal = parseInt(goalElt.textContent)

            console.log(score);
            console.log(goal);
            
            if (score < goal)
            {
                event.preventDefault();
            }
            else
            {
                event.preventDefault();
                window.location.href = buttonDoneElt.href + "/" + km + "/" + m;
            }
        }
    </script>
{% endblock %}