{#
    TODO :
#}
<nav class="perso-menu navbar navbar-expand-md navbar-dark m-auto mb-0 pb-0" id="perso-menu">
    <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                {% if app.request.get('_route') == "home" %}
                    <a href="{{ path("home") }}" class="nav-link active" aria-current="page">
                {% else %}
                    <a href="{{ path("home") }}" class="nav-link" aria-current="page">
                {% endif %}
                    Todo
                </a>
            </li>
            <li class="nav-item">
                {% if app.request.get('_route') == "profile" %}
                    <a href="{{ path('profile') }}" class="nav-link active">
                {% else %}
                    <a href="{{ path('profile') }}" class="nav-link">
                {% endif %}
                    Profile
                </a>
            </li>
            <li class="nav-item">
                {% if app.request.get('_route') == "about" %}
                    <a href="{{ path("about") }}" class="nav-link active">
                {% else %}
                    <a href="{{ path("about") }}" class="nav-link">
                {% endif %}
                    About
                </a>
            </li>
            <li class="nav-item">
                {% if app.request.get('_route') == "graphs" %}
                    <a href="{{ path("graphs") }}" class="nav-link active">
                {% else %}
                    <a href="{{ path("graphs") }}" class="nav-link">
                {% endif %}
                    Graphs
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    Inscription
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    Connection
                </a>
            </li>
            {# <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" id="navbar-dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Dropdown
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li>
                        <a class="dropdown-item" href="#">
                            Action
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">
                            Another action
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">
                            Something else here
                        </a>
                    </li>
                </ul>
            </li> #}
            {# <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">
                    Disabled
                </a>
            </li> #}
        </ul>
        {# <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">
                Search
            </button>
        </form> #}
    </div>
</nav>
<div class="perso-brand">
    <div class="perso-name">
        <div class="perso-name-letter">
            s
        </div>
        <div class="perso-name-letter">
            u
        </div>
        <div class="perso-name-letter">
            e
        </div>
        <div class="perso-name-letter">
            t
        </div>
        <div class="perso-name-letter">
            e
        </div>
    </div>
    <hr class="perso-hr">
    <div class="perso-sentence">
        <div class="perso-sentence-word">
            série
        </div>
        <div class="perso-sentence-word">
            unique
        </div>
        <div class="perso-sentence-word">
            et
        </div>
        <div class="perso-sentence-word">
            trajet
        </div>
        <div class="perso-sentence-word">
            exponentiels
        </div>
    </div>
</div>
